@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora&family=Montserrat:wght@300;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --page-content-center-width: 1440px;
    --page-content-center-position: 0 auto;
}

@media screen and (min-width: 720px) {
    .menu {
        display: flex;
    }

    #hamburguer-menu {
        display: none;
    }

    .container {
        grid-template-columns: 2fr 3fr;
        align-content: center;
    }

    .content {
        align-self: center;
    }

    .content h1 {
        font: 3rem 'Lora';
    }

    .content p {
        font: 1.5rem 'Montserrat';
    }

    .img-card {
        min-height: 726px;
        background-size: auto calc(100% - 88px);
    }

    .card {
        min-width: 350px;
    }
}

@media screen and (max-width: 720px) {
    .menu {
        display: none;
    }

    #menu-toggle {
        display: none;
    }

    .open-menu {
        display: block;
        width: 24px;
        height: 20px;
        cursor: pointer;
        float: right;
    }

    .open-menu:hover .open::before {
        top: -9px;
    }

    .open-menu:hover .open::after {
        top: 5px;
    }

    .menu-hb {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #181719;
        z-index: 2;
    }

    .menu-hb label {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        background-size: 100%;
        cursor: pointer;
    }

    .menu-hb .menu-content {
        position: relative;
        top: 50%;
        font-size: 24px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }

    .menu-hb ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }

    .menu-hb ul li a {
        display: inline-block;
        color: #d0d0d0;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Montserrat';
        padding: 10px 0;
    }

    .animation::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: width 0.3s;
        margin-top: 10px;
    }

    .animation:hover::after {
        width: 100%;
    }

    .menu-effect {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }

    .menu-effect ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }

    #menu-toggle:checked ~ .menu-effect {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }

    #menu-toggle:checked ~ .menu-effect ul {
        opacity: 1;
    }

    #menu-toggle:checked ~.open-menu .open::after {
        content: "";
        background-color: #fff;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 4;
    }

    #menu-toggle:checked ~.open-menu .open::before {
        content: "";
        background-color: #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4;
    }

    #menu-toggle:not(:checked) ~ .menu-effect ul {
        transform: translateY(-30%);
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .content h1 {
        font: 3rem 'Lora';
    }

    .content p {
        font: 1.1rem 'Montserrat';
    }

    .img-card {
        min-height: 366px;
        background-size: 100% calc(100% - 88px);
    }

    .card {
        min-width: 300px;
        -webkit-box-shadow: 0px 4px 18px 2px #000;
        box-shadow: 0px 4px 18px 2px #000;
    }

    .open {
        background-color: #fff;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }

    .open::before {
        content: "";
        background-color: #fff;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }

    .open::after {
        content: "";
        background-color: #fff;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: #181719;
    color: #fff;
    max-width: 1440px;
    margin: 0 auto;
    grid-gap: 36px;
    height: 100vh;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 24px;
}

.navbar {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.navbar .menu {
    flex: 1;
    justify-content: space-between;
    max-width: 600px;
    margin-left: 36px;
}

.list {
    list-style: none;
}

.list a {
    font: 1rem 'Montserrat';
    text-decoration: none;
    color: #d0d0d0;
}

.animation::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s;
    margin-top: 10px;
}

.animation:hover::after {
    width: 100%;
}

.logo {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Crimson Pro';
    border: 1px solid #fff;
    padding: 10px;
    height: 40px;
}

main {
    align-items: center;
}

.container {
    display: grid;
    flex: 1;
    grid-gap: 24px;
    padding: 0 24px;
    height: 100%;
}

.content {
    flex: 1;
}

.content h1 {
    margin-bottom: 40px;
}

.content p {
    margin-bottom: 40px;
    font-weight: 300;
    padding-right: 80px;
}

.cta-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cta-container a {
    font: 1rem 'Montserrat';
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.cta-container a:hover {
    color: darkgray;
}

.content image {
    padding-bottom: 10px;
}

.shake {
    animation: scale 1s infinite;
}

@keyframes scale {
    0%,
    20%,
    100% { transform: scale(1.5, 1); }
    40% { transform: scale(1, 1.2) }
}

/* @keyframes shake {
    0%,
    20%,
    100% { transform: translateX(-8px); }
    50%,
    40% { transform: translateX(0) }
} */

.img-card {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("images/photo1.png");
    background-repeat: no-repeat;
    margin: auto;
}

.interior {
    width: 100%;
    max-width: 500px;
}

.card {
    position: absolute;
    bottom: 0px;
    right: 24px;
    background: #181719;
    display: flex;
    flex-direction: column;
}

.card img {
    border-radius: 50%;
    width: 100%;
    max-width: 50px;
}

.card h2 {
    display: block;
    margin: 0 24px 24px;
}

.card-content {
    display: grid;
    align-items: center;
    margin: 24px;
    grid-template-columns: auto 1fr;
    grid-gap: 24px;
}

.card .card-content strong,
.card .card-content span {
    display: block;
}

.card .card-content strong {
    font: .8rem 'Montserrat';
    margin-bottom: 5px;
}

.card .card-content span {
    font: .6rem 'Montserrat';
    color: #828282;
}

footer {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 48px;
}

footer p {
    font: .8rem 'Montserrat';
    color: #828282;
}
